<div class="widget">
    <div class="breakdown">
        <div class="chartHeader">
            <div class="squareBlock">
                <img src="assets/svg/squareBlock.svg" alt="">
            </div>
            <div class="header">
                <span class="heading">Vendor breakdown</span>
                <span class="description">Keep track of vendors and their security ratings.</span>
            </div>
            <img class="more" src="assets/svg/moreVert.svg" alt="">
        </div>
        <div class="chart" id="columnChart">
        </div>
        <div class="chartFooter">
            <button >
                View full report
            </button>
        </div>
    </div>
    <div class="monitored">
        <div class="chartHeader">
            <div class="header">
                <span class="heading">Vendors monitored</span>
                <span class="description">You're using 80% of available spots.</span>
            </div>
            <img class="more" src="assets/svg/moreVert.svg" alt="">
        </div>
        <div class="chart" id="guageChart">

        </div>
        <div class="chartHeader">
            <div class="header">
                <span class="heading" style="font-size: 13px;">You've almost reached your limit</span>
                <span class="description">You have used 80% of your available spots.</span>
                <span class="description">Upgrade plan to monitor more vendors.</span>
            </div>
        </div>
        <div class="chartFooter">
            <button >
                <img src="assets/svg/bolt.svg" alt="">
                Upgrade plan
            </button>
        </div>
    </div>
</div>
