

@import 'bootstrap/scss/bootstrap';

.main{
    font-family:Arial, Helvetica, sans-serif;
}

.headerLabel{
    padding: 2px 5px 2px 5px;
    font-size: 10px;
    font-weight: 600;
    border-radius: 10px;
}

button{
    padding: 5px 8px;
    border-radius: 8px;
    border: 1px solid #d8dadd;
    background-color: #fff;
    color: #4e5762;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        height: 16px;
        width: 16px;
        margin: 0px 5px;
    }
}

.header{
    display: flex;
    flex-direction: column;

    .heading{
        color: #2c2a2a;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    .description{
        color: #9a8686;
        font-size: 12px;
        font-weight: 500;
    }
}

